In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv(r"C:\Users\shubh\Downloads\Coding\ML\loan.csv")
dataset.head(4)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y

In [6]:
dataset.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [4]:
dataset["Gender"].fillna(dataset["Gender"].mode()[0],inplace=True)

C:\Users\shubh\AppData\Local\Temp\ipykernel_25140\3181356174.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["Gender"].fillna(dataset["Gender"].mode()[0],inplace=True)

In [5]:
dataset.fillna({"Married" :dataset["Gender"].mode()[0]},inplace=True)

In [7]:
en_data=dataset[["Gender","Married"]]

In [8]:
pd.get_dummies(en_data)

     Gender_Female  Gender_Male  Married_Male  Married_No  Married_Yes
0            False         True         False        True        False
1            False         True         False       False         True
2            False         True         False       False         True
3            False         True         False       False         True
4            False         True         False        True        False
..             ...          ...           ...         ...          ...
609           True        False         False        True        False
610          False         True         False       False         True
611          False         True         False       False         True
612          False         True         False       False         True
613           True        False         False        True        False

[614 rows x 5 columns]

In [9]:
pd.get_dummies(en_data).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gender_Female  614 non-null    bool
 1   Gender_Male    614 non-null    bool
 2   Married_Male   614 non-null    bool
 3   Married_No     614 non-null    bool
 4   Married_Yes    614 non-null    bool
dtypes: bool(5)
memory usage: 3.1 KB

In [10]:
import sklearn
print(sklearn.__version__)

1.4.2

In [11]:
from sklearn.preprocessing import OneHotEncoder

In [17]:
ohe=OneHotEncoder(drop="first")
ar=ohe.fit_transform(en_data).toarray()
ar

array([[1., 1., 0.],
       [1., 0., 1.],
       [1., 0., 1.],
       ...,
       [1., 0., 1.],
       [1., 0., 1.],
       [0., 1., 0.]])

In [19]:
pd.DataFrame(ar,columns=["Gender_Male","Married_Male","Married_Yes"])

     Gender_Male  Married_Male  Married_Yes
0            1.0           1.0          0.0
1            1.0           0.0          1.0
2            1.0           0.0          1.0
3            1.0           0.0          1.0
4            1.0           1.0          0.0
..           ...           ...          ...
609          0.0           1.0          0.0
610          1.0           0.0          1.0
611          1.0           0.0          1.0
612          1.0           0.0          1.0
613          0.0           1.0          0.0

[614 rows x 3 columns]

In [ ]:
ssssAAAAAAAAAAAAAA