In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv("C:\\Users\\shubh\\Downloads\\Coding\\ML\\BostonHousing.csv")
dataset.head(3)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [4]:
input_data=dataset.iloc[:,:-1]
output_data=dataset["medv"]

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train,x_test,y_train,y_test=train_test_split(input_data,output_data,test_size=0.25) #if data>10000 then 30%can ber

In [7]:
x_train,x_test,y_train,y_test

(         crim    zn  indus  chas    nox     rm    age     dis  rad  tax  \
 163   1.51902   0.0  19.58     1  0.605  8.375   93.9  2.1620    5  403
 159   1.42502   0.0  19.58     0  0.871  6.510  100.0  1.7659    5  403
 183   0.10008   0.0   2.46     0  0.488  6.563   95.6  2.8470    3  193
 143   4.09740   0.0  19.58     0  0.871  5.468  100.0  1.4118    5  403
 340   0.06151   0.0   5.19     0  0.515  5.968   58.5  4.8122    5  224
 ..        ...   ...    ...   ...    ...    ...    ...     ...  ...  ...
 169   2.44953   0.0  19.58     0  0.605  6.402   95.2  2.2625    5  403
 278   0.07978  40.0   6.41     0  0.447  6.482   32.1  4.1403    4  254
 419  11.81230   0.0  18.10     0  0.718  6.824   76.5  1.7940   24  666
 322   0.35114   0.0   7.38     0  0.493  6.041   49.9  4.7211    5  287
 292   0.03615  80.0   4.95     0  0.411  6.630   23.4  5.1167    4  245

      ptratio       b  lstat
 163     14.7  388.45   3.32
 159     14.7  364.31   7.39
 183     17.8  396.90   5.68
 143     14.7  396.90  26.42
 340     20.2  396.90   9.29
 ..       ...     ...    ...
 169     14.7  330.04  11.32
 278     17.6  396.90   7.19
 419     20.2   48.45  22.74
 322     19.6  396.90   7.70
 292     19.2  396.90   4.70

 [379 rows x 13 columns],
          crim    zn  indus  chas     nox     rm   age     dis  rad  tax  \
 161   1.46336   0.0  19.58     0  0.6050  7.489  90.8  1.9709    5  403
 289   0.04297  52.5   5.32     0  0.4050  6.565  22.9  7.3172    6  293
 436  14.42080   0.0  18.10     0  0.7400  6.461  93.3  2.0026   24  666
 481   5.70818   0.0  18.10     0  0.5320  6.750  74.9  3.3317   24  666
 176   0.07022   0.0   4.05     0  0.5100  6.020  47.2  3.5549    5  296
 ..        ...   ...    ...   ...     ...    ...   ...     ...  ...  ...
 464   7.83932   0.0  18.10     0  0.6550  6.209  65.4  2.9634   24  666
 64    0.01951  17.5   1.38     0  0.4161  7.104  59.5  9.2229    3  216
 66    0.04379  80.0   3.37     0  0.3980  5.787  31.1  6.6115    4  337
 273   0.22188  20.0   6.96     1  0.4640  7.691  51.8  4.3665    3  223
 500   0.22438   0.0   9.69     0  0.5850  6.027  79.7  2.4982    6  391

      ptratio       b  lstat
 161     14.7  374.43   1.73
 289     16.6  371.72   9.51
 436     20.2   27.49  18.05
 481     20.2  393.07   7.74
 176     16.6  393.23  10.11
 ..       ...     ...    ...
 464     20.2  396.90  13.22
 64      18.6  393.24   8.05
 66      16.1  396.90  10.24
 273     18.6  390.77   6.58
 500     19.2  396.90  14.33

 [127 rows x 13 columns],
 163    50.0
 159    23.3
 183    32.5
 143    15.6
 340    18.7
        ...
 169    22.3
 278    29.1
 419     8.4
 322    20.4
 292    27.9
 Name: medv, Length: 379, dtype: float64,
 161    50.0
 289    24.8
 436     9.6
 481    23.7
 176    23.2
        ...
 464    21.4
 64     33.0
 66     19.4
 273    35.2
 500    16.8
 Name: medv, Length: 127, dtype: float64)

In [8]:
dataset.shape

(506, 14)

In [9]:
x_train.shape

(379, 13)

In [10]:
x_test.shape

(127, 13)

In [12]:
y_train.shape

(379,)

In [13]:
y_test.shape

(127,)